ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

/*This is for font */
h1 {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5, h3 {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}
 /* center horizontally */
.para-flex {
    display: flex;
    justify-content: center;  
    align-items: center;     
    padding: 20px;
}

/* this one for container */
.para-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    padding: 20px;
    margin: 50px auto;

    border: 2px solid #333;
    border-radius: 10px;
}